body {
    background-image: url(images/BG2.jpg);
    background-repeat: no-repeat;
	padding-top: 50px;
	padding-bottom: 50px;
	font-family: 'Merriweather', serif;
}

header { 
    padding: 15px; 
    width: 500px;
    margin: auto;
    display: flex;
    align-items: center;
  }
  header img {
    margin-right: 20px;
  }
  
  h1{
	text-align: center;
	font-size: 40px;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	letter-spacing: 1px;
	line-height: 1.3;
}


h1 span {
	font-size: 15px;
}
nav {
    background-color: #f3f3f4;
  }
  nav .wrapper {
    width: 350px;
    margin: auto;
  }
  nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  
  
  nav li a { 
	  text-align: center;
    padding: 15px;
    display: inline-block;
    text-decoration: none;
    color: #191645;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	letter-spacing: 1px;
  }
  
  nav li a:hover { 
    background-color: #43C6Ac;
    color: white;
  }



.mainImage {
	padding-top: 50px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 50px;
}

.mainImage img {
    width: 100%;
    height: auto;
}
.aboutSection,
.newsSection {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom:50px ;
}
.hStyle {
	text-align: center;
	font-size: 11px;
	margin-bottom: 40px;
	line-height: 1.2;
}
.hStyle span {
	font-size: 35px;
	font-family: 'Oswald', sans-serif;
	border-bottom:2px solid #000000 ;
}
.aboutSection ul {
	overflow: hidden;
	padding:0;
}
.aboutSection li {
	float:left;
	list-style: none;
	width: 32%;
	margin-right: 2%;

} 
.aboutSection li:last-child{
	margin: 0;
}
.aboutSection li img {
	width: 100%;
	height: auto;
}
.aboutSection h3 {

	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	margin: 0%;
	letter-spacing: 1px;
}
.aboutSection p {
	font-size: 14px;
	margin: 0;
	letter-spacing: 1px;
}
.newsSection table {
	width: 100%;
	border-top: 1px solid #dddddd;
}
.newsSection th {
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	font-size: 14px;
	border-bottom: 1px solid #dddddd ;
	padding-bottom: 15px;
	padding-top: 15px;
	width: 10%;
}
.newsSection td {
	font-size: 14px;
	border-bottom: 1px solid #dddddd ;
	padding-bottom: 15px;
	padding-top: 15px;
	width: 90%;
}

.footer-logo {
    width: 100px;
    height: auto;
  }
  .footer-h2 {
    color: black;
  }
  .footer hr {
    border-color: cyan;
    margin: 40px 0;
  }
  .logo-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  .footer-h2 {

    padding: 20px 0 0 10px;
	color: bisque;
  }
  .footer-table {
    color: rgb(14, 236, 25);
    text-align: center;
    margin: auto;
  }
  .footer-table tr td {
    padding: 2% 5%;
  }
  .second td {
    color:rgb(114, 174, 241);
  }
  .instagramBt {
	width: 200px;
	margin-right: 43%;
	margin-left: 43%;
  padding-top: 15px;
}
.instagramBt a {
	background: #000000;
	color: #ffffff;
	display: block;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	text-decoration: none;
	border-radius: 4px;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
}
.copyright {
	text-align: center;
	font-size: 11px;
}